.SearchBox {
  width: 100%;
  margin-top: 100px;
  input{
    position: fixed;
    left: 50%;
    border-width: 4px;
    height: 30px;
    transform: translate(-50%, -50%);
    width: 40%;
    min-width: 270px;
  }
}
